@use "variables" as *;

%container {
  width: min(100% - $gap-xl, $container-primary);
  margin-inline: auto;
}

%container-sm {
  width: min(100% - $gap-xl, $container-secondary);
  margin-inline: auto;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
  visibility: hidden;
}
