/// Міксин для великих екранів
/// @example scss - Використання
///   @include media-lg { ... }
@mixin media-lg {
  @media (width < 1200px) {
    @content;
  }
}

/// Міксин для середніх екранів
@mixin media-md {
  @media (width < 992px) {
    @content;
  }
}

@mixin media-sm {
  @media (width < 768px) {
    @content;
  }
}

@mixin media-xs {
  @media (width < 576px) {
    @content;
  }
}

@mixin media-xxs {
  @media (width < 375px) {
    @content;
  }
}
