@use "variables" as *;

html {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: $line-height-sm;
  color: $color-primary;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: $line-height-sm;
  color: $color-primary;
}

a {
  text-decoration: none;
  color: $color-black;
}

.text-large {
  font-size: $font-size-large;
  line-height: $line-height-large;
}

.text-regular {
  font-size: $font-size-regular;
  line-height: $line-height-regular;
}

.text-small {
  font-size: $font-size-small;
  line-height: $line-height-small;
}

@media (width < 992px) {
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 1.75rem;
  }
}
