@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins-media" as *;

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  max-width: $container-secondary;

  @include media-sm {
    max-width: 100%;
  }
  @include media-xs {
    align-items: center;

    text-align: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 38px;
  }

  &__description {
    margin-bottom: 57px;

    color: $color-secondary;
  }

  &__button {
    min-width: 225px;
    min-height: 65px;

    color: $color-white;
    background-color: $color-primary;

    @include button-base;
    @include media-sm {
      min-width: 200px;
      min-height: 55px;
    }
    @include media-xxs {
      min-width: 180px;
      min-height: 45px;

      font-size: 0.875rem;
    }
  }
}
