@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins-media" as *;

.navbar {
  margin-bottom: 141px;

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -0.75em;

    column-gap: 27px;
    @include media-sm {
      margin-left: 0;

      column-gap: 15px;
    }
    @include media-xs {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      row-gap: 10px;
    }
  }

  &__link {
    display: block;

    padding: 0.5em 0.75em;

    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    &--active {
      color: $color-primary;

      font-weight: 500;
    }
  }
}
