@use '../abstracts' as *;

.navbar {
  margin-bottom: 141px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    margin-left: -0.75em;
  }

  &__link {
    display: block;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;

    &--active {
      color: $color-primary;
      font-weight: 500;
    }
  }
}
