@use "../abstracts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

body {
  margin: 0;
}

/* Base classes */
.container {
  @extend %container;
}

.container-sm {
  @extend %container-sm;
}

.visually-hidden {
  @extend %visually-hidden;
}
