@use "../partials" as *;

.footer {
  background-color: $color-primary;
  color: $color-white;
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    margin-bottom: 3px;
    font-size: 1.3125rem;
    font-weight: 500;
  }

  &__description {
    font-size: 0.875rem;
  }

  @include media-xs {
    text-align: center;
    padding: 30px 0;
  }
}
