@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins-media" as *;

.navbar {
  margin-bottom: 141px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 27px;
    margin-left: -0.75em;

    @include media-sm {
      column-gap: 15px;
      margin-left: 0;
    }

    @include media-xs {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  }

  &__link {
    display: block;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;

    &--active {
      color: $color-primary;
      font-weight: 500;
    }
  }
}
