@use "../partials/variables" as *;
@use "../partials/mixins" as *;

.section {
  @include section-padding;
  text-align: center;

  &__title {
    margin-bottom: 35px;
  }

  &__description {
    color: $color-secondary;
  }
}
