@use "../partials/variables" as *;

.video {
  background-color: $color-gray-light;
  margin-top: calc($gap-xl * -1);
  padding-bottom: 100px;

  &__iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
    min-height: 200px;
  }
}
