@use 'variables' as *;

@mixin section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

@mixin flex-base {
  display: flex;
  gap: $gap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin media-mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: 992px) {
    @content;
  }
}
