@use "variables" as *;

@mixin container {
  width: min(100% - $gap-xl, $container-primary);

  margin-inline: auto;
}

@mixin container-sm {
  width: min(100% - $gap-xl, $container-secondary);

  margin-inline: auto;
}

@mixin header {
  padding-top: 69px;
  padding-bottom: 141px;

  background-color: $color-gray-light;
}

@mixin experience {
  padding-top: 100px;
  padding-bottom: 100px;

  color: $color-white;
  background-color: $color-primary;
}

@mixin video {
  margin-top: calc($gap-xl * -1);
  padding-bottom: 100px;

  background-color: $color-gray-light;
}

@mixin footer {
  padding-top: 50px;
  padding-bottom: 50px;

  color: $color-white;
  background-color: $color-primary;
}

@mixin section-padding {
  padding-top: 110px;
  padding-bottom: 90px;
}

@mixin media-breakpoint-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-style($bg-color, $text-color) {
  padding: 10px 20px;

  cursor: pointer;

  color: $text-color;
  border: none;
  border-radius: 5px;
  background-color: $bg-color;
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  align-items: $align;
  flex-direction: $direction;
  justify-content: $justify;

  gap: $gap;
}

@mixin button-base {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em;

  cursor: pointer;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
}
