/// Mixin for large screens
/// @example scss - Usage
///   @include media-lg { ... }
@mixin media-lg {
  @media (width < 1200px) {
    @content;
  }
}

/// Mixin for large screens
@mixin media-large {
  @media (min-width: 992px) {
    @content;
  }
}

/// Mixin for medium screens
@mixin media-md {
  @media (width < 992px) {
    @content;
  }
}

@mixin media-sm {
  @media (width < 768px) {
    @content;
  }
}

@mixin media-xs {
  @media (width < 576px) {
    @content;
  }
}

@mixin media-xxs {
  @media (width < 375px) {
    @content;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (max-width: 1024px) {
      @content;
    }
  }
}
