$color-black: #000000;

$color-primary: #34547a;
$color-secondary: #727272;
$color-gray-light: #f5f5f5;
$color-white: #ffffff;

// Типографіка
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$line-height-sm: 1.2;

$font-size-large: 1.25rem;    // 20px
$font-size-regular: 1rem;     // 16px
$font-size-small: 0.875rem;   // 14px

$line-height-large: 1.6;
$line-height-regular: 1.5;
$line-height-small: 1.4;

$font-weight-medium: 500;
$letter-spacing: 0.2em;

$container-primary: 1110px;
$container-secondary: 540px;

$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-lg: $gap * 1.5;
$gap-xl: $gap * 2;

// Брейкпоінти
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xxs: 375px;