@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins-media" as *;

.header {
  padding-top: 69px;
  padding-bottom: 141px;

  background-color: $color-gray-light;
}
