@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/mixins-media" as *;

.section {
  text-align: center;

  @include section-padding;

  &__title {
    margin-bottom: 35px;
  }

  &__description {
    color: $color-secondary;
  }
}
