@use "../abstracts" as *;

.video {
  margin-top: calc($gap-xl * -1);
  padding-bottom: 100px;

  background-color: $color-gray-light;

  &__iframe {
    width: 100%;
    height: auto;
    min-height: 200px;

    border: 0;

    aspect-ratio: 16 / 9;
  }
}
