@use 'abstracts' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  line-height: $line-height;
}

body {
  margin: 0;
}

// Components
@import 'components/navigation';